<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
    

</head>
<body>
    <div class="container bg-light text-dark p-sm-2">
        <div class="row text-center"><h2> What To Wear</h2></div>
        <div class="row ">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2 class="text-center">Registration Page</h2>
                <div class="bg-danger">
                    {% with error = get_flashed_messages(category_filter=["error"])  %}
                        {% if error %}
                            {% for message in error %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
                <form action="/process" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" class="form-control" name = 'email' id='email'>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" name = 'password' id='password'>
                    </div>
                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password:</label>
                        <input type="password" class="form-control" name = 'confirm_password' id='confirm_password'>
                    </div>
                    <button type="submit" class="btn btn-dark mb-md-3 mt-2">Register</button>
                </form>
                <a href="/index">Already a member. Click here</a>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>